/* color palette: 
#db1020; #FFBC0E; #edf6f8; 
intentionally kept the background white instead of light grey
chose #2a2a2a as my "black" and rgb(243, 243, 243) as my "white"*/

body {
  margin: 0 0;
  padding: 0 0;
  height: 100%;
  /* font-variation-settings: "wdth" 90; */
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #2a2a2a;
}

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: max(4vmin, 20px); /* https://developer.mozilla.org/en-US/docs/Web/CSS/max */
}

h3 {
  font-weight: 500;
  font-size: 2.5vmin;
  font-size: max(2.5vmin, 15px);
}

p,
td,
li {
  line-height: 1.75em;
  font-size: max(2vmin, 10px);
}

li {
  padding: 0.75vh
}

li > strong {
  font-size: max(2.2vmin, 12.5px);
}

nav {
  background-color: white;
  grid-area: nav;
  position: fixed;
  height: 12.5vh;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  color: #db1020;
  justify-content: space-evenly;
}

a {
  color: #db1020;
  text-decoration: none;
}

a:visited {
  color: #db1020;
  text-decoration: none;
}

footer {
  background-color: rgb(243, 243, 243);
  grid-area: footer;
  margin-top: 7.5vh;
  box-sizing: border-box;
  padding: 40px 50px;
  display: flex;
}

button {
  background-color: #db1020;
  color: rgb(243, 243, 243);
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-variation-settings:
  "wdth" 90;
  border: none;
  border-radius: 20px;
  padding: 12.5px 20px;
  font-size: 2.5vmin;
}

ul {
  list-style-type: none; 
  padding: 0; 
  margin: 1vh 5vw;
}

/* CLASSES */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 12.5vh 70vh 12.5vh 70vh 50vh 50vh 50vh;
  overflow: auto;
  grid-template-areas: 
  "nav nav nav nav nav nav"
  "section-1 section-1 section-1 section-1 section-1 section-1"
  "menu-header menu-header menu-header menu-header menu-header menu-header"
  "menu-1 menu-1 menu-2 menu-2 menu-3 menu-3"
  "section-2-picture section-2-picture section-2-picture section-2 section-2 section-2"
  "section-3 section-3 section-3 section-3-picture section-3-picture section-3-picture"
  "footer footer footer footer footer footer";
  grid-gap: 0.2rem;
}

.order-buttons {
  background-color: #FFBC0E;
  color: #2a2a2a;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  border: none;
  border-radius: 15px;
  padding: 12.5px 20px;
  font-size: 1.9vmin;
  width: 175px;
  max-width: 100%;
  margin-right: 5%;
  margin-top: 5%;
  font-size: max(1.75vmin, 10px); /* https://developer.mozilla.org/en-US/docs/Web/CSS/max */
}

.menu-item {
  background-color: #edf6f8;
  box-sizing: border-box;
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  padding: 10px 20px;
  font-size: max(1.75vmin, 10px);
}

.menu-item > h3 {
  margin-bottom: 0;
}
/* END CLASSES */

/* IDS  */

#hamburger-menu {
  display: none;
}

#section-1 {
  background-color: white;
  grid-area: section-1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#promo-1 {
  width: 50%;
  font-size: 2vmin;
}

/* #promo-1 > div > p {
  font-size: max(2vmin, 10px);
} */

#menu-header {
  grid-area: menu-header;
  text-align: center;
  height: 100%;
  text-align: 100%;
}

#menu-header > h1{
  color:#db1020
}

#menu-1 {
  grid-area: menu-1;
}

#menu-2 {
  grid-area: menu-2;
}

#menu-3 {
  grid-area: menu-3;
}

#menu-4 {
  grid-area: menu-4;
}

#section-2 {
  grid-area: section-2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 4vw;
}

#section-2-picture {
  /* background-color: rgba(47, 28, 255, 0.502); */
  grid-area: section-2-picture;
  box-sizing: border-box;
  background-image: url('images/menu-photo.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0px 4vw;
}

#section-3 {
  grid-area: section-3;
  margin: 0px 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#section-3-picture {
  background-image: url('images/quality.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  grid-area: section-3-picture;
  margin: 0px 4vw;
}

/* END IDS */

@media (max-width: 375px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 12.5vh 75vh 12.5vh 60vh 60vh 60vh 40vh 40vh 40vh 40vh 60vh;
    grid-template-areas: 
    "nav"
    "section-1"
    "menu-header"
    "menu-1"
    "menu-2"
    "menu-3" 
    "section-2-picture"
    "section-2"
    "section-3-picture"
    "section-3"
    "footer";
  }
  nav {
    padding: 0 0;
  }
  nav > h3 {
    display: none;
  }
  #hamburger-menu {
    display: block;
    position: absolute;
    left: 20px;
  }
  #header-order {
    display: none;
  }
  #section-1 {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 12.5vh;
    box-sizing: border-box;
    margin-bottom: 5vh;
  }
  #promo-1 > div > p {
    font-size: max(2.75vmin, 10px);
  }
  footer {
    overflow-y: scroll;
  }
}

